<template>
  <div id="wrapper">
    <!-- <img id="logo" src="~@/assets/logo.png" alt="electron-vue"> -->
    <el-tabs
      v-model="activeName"
      type="border-card"
      :style="{height: '100%'}"
    >
      <el-tab-pane
        label="Ask for Help"
        name="first"
        :disabled="!activeTab1"
      >
        <el-row :gutter="20">
          <el-col :span="24">
            <div
              class="pending"
              v-if="statusMessage"
            >
              <div class="pending__bullet"></div>
              <div class="pending__title">
                <div class="blink">Status Pending!</div>
              </div>
            </div>
            <div class="list-chatt">
              <ul>
                <li
                  v-for="(c, i) in chatts"
                  :key="i"
                  :class="{ 'is-admin': c.is_admin, 'is-client': !c.is_admin }"
                >
                  <div class="list-chatt__avatar">
                    <div
                      class="image"
                      v-if="!c.is_admin"
                    >
                      <img
                        src="http://icons-for-free.com/free-icons/png/512/2754579.png"
                        alt=""
                      >
                      <div class="icon"><span><font-awesome-icon icon="clock" /></span></div>
                    </div>
                    <div
                      class="image"
                      v-if="c.is_admin"
                    >
                      <img
                        src="https://cdn4.iconfinder.com/data/icons/rcons-user/32/support_man-512.png"
                        alt=""
                      >
                    </div>
                  </div>
                  <div class="list-chatt__info-user">
                    <div class="name">
                      {{ c.name }}
                    </div>
                    <div class="message">{{ c.messages }}</div>
                  </div>
                </li>
              </ul>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="20">
            <el-input
              placeholder="Please create your message here..."
              v-model="message"
            ></el-input>
          </el-col>
          <el-col :span="2">
            <el-button
              type="primary"
              @click="handleSubmitChat"
              v-if="chatts.length <= 0"
            >
              Send
            </el-button>
            <el-button
              type="primary"
              @click="handleUpdateChat"
              v-if="chatts.length > 0"
            >
              Send
            </el-button>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="Remote Help" name="second" :disabled="!activeTab1">
        <el-row :gutter="20">
          <el-col :span="24">
            <label v-if="!remoteRequestCheck">Type remote password here...</label>
            <label v-if="remoteRequestCheck">
              <el-alert
                title=""
                type="warning">
                Your request is being processed... ({{ dateCreated | humanReadableTime }})
              </el-alert>
            </label>
            <br/>
            <br/>
            <el-input
              placeholder="Type remote password here..."
              v-model="typeRemote"
              v-if="!remoteRequestCheck"
            ></el-input>
          </el-col>
          <el-col :span="24">
            <br />
            <el-button
              type="primary"
              @click="handleSubmit2"
              v-if="!remoteRequestCheck"
            >
              Send Request
            </el-button>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="Register Device" name="third">
        <el-row :gutter="20">
          <el-col :span="24">
            <label>Type Your device serial number</label>
            <br/>
            <br/>
            <el-input
              placeholder="Input your device serial number"
              v-model="serialNumber"
              :disabled="inputCheck"
            ></el-input>
          </el-col>
          <el-col :span="24">
            <br/>
            <label>Type Your remote ID</label>
            <br/>
            <br/>
            <el-input
              placeholder="Input your remote ID"
              v-model="remoteID"
              :disabled="inputCheck"
            ></el-input>
          </el-col>
          <el-col :span="24">
            <br/>
            <label>Your Machine ID</label>
            <br/>
            <br/>
            <el-input
              placeholder="Input your machine ID"
              v-model="machineID"
              :disabled="true"
            ></el-input>
          </el-col>
          <el-col :span="24">
            <br />
            <el-button
              type="primary"
              @click="handleSubmit3"
              v-if="!inputCheck"
            >
              Activate
            </el-button>
          </el-col>
        </el-row>
      </el-tab-pane>
    </el-tabs>

    <notifications group="foo" />
    <audio ref="audio" v-bind:src="require('@/assets/notifications.wav')"></audio>
  </div>
</template>

<script>
  import {machineIdSync} from 'node-machine-id'
  import axios from 'axios'
  import {ENV} from '@/store/config'

  export default {
    name: 'landing-page',
    data () {
      return {
        headerID: localStorage.getItem('headerID'),
        activeName: 'third',
        activeTab1: false,
        activeTab2: false,
        inputCheck: false,
        remoteRequestCheck: false,
        chatts: [],
        message: '',
        typeRemote: '',
        serialNumber: '',
        remoteID: '',
        machineID: '',
        dateCreated: '',
        statusMessage: false
      }
    },
    sockets: {
      connect () {
        console.log('socket connected!')
      }
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      handleSubmitChat () {
        let options = {
          headers: {
            'Authorization': localStorage.getItem('accessToken'),
            'Content-Type': 'application/json'
          }
        }

        let body = {
          is_admin: false,
          name: 'User Client',
          messages: this.message,
          token: localStorage.getItem('accessToken'),
          status: 'Open'
        }

        axios.post(`${ENV.API_URL}/messages`, body, options)
          .then(
            response => {
              if (response.data.error) {
                localStorage.clear()
                this.activeName = 'third'
                this.activeTab1 = false
                this.activeTab2 = false
                this.inputCheck = false
              } else {
                this.$socket.emit('sendMsg', body)
                localStorage.setItem('headerID', response.data.header_id)
              }
            }
          )
          .catch(
            error => {
              console.log(error)
            }
          )

        this.message = ''
      },
      handleUpdateChat (id) {
        let options = {
          headers: {
            'Authorization': localStorage.getItem('accessToken'),
            'Content-Type': 'application/json'
          }
        }

        let body = {
          is_admin: false,
          name: 'User Client',
          header_id: localStorage.getItem('headerID'),
          messages: this.message,
          token: localStorage.getItem('accessToken'),
          status: 'Client Reply'
        }

        this.$socket.emit('sendMsg', body)

        axios.put(`${ENV.API_URL}/messages_client/${localStorage.getItem('headerID')}`, body, options)

        this.message = ''
      },
      handleSubmit2 () {
        const options = {
          headers: {
            'Authorization': localStorage.getItem('accessToken'),
            'Content-Type': 'application/json'
          }
        }

        const body = {
          remote_password: this.typeRemote
        }

        axios.post(`${ENV.API_URL}/remote_helps`, body, options)
          .then(
            response => {
              if (response.data.error) {
                localStorage.clear()
                this.activeName = 'third'
                this.activeTab1 = false
                this.activeTab2 = false
                this.inputCheck = false
              } else {
                localStorage.setItem('remoteRequest', true)
                localStorage.setItem('dateCreated', Date.now())
                this.remoteRequestCheck = true
                this.activeName = 'second'

                this.dateCreated = Date.now()
              }
            }
          )
          .catch(
            error => {
              console.log(error)
            }
          )

        this.typeRemote = ''
      },
      handleSubmit3 () {
        let options = {
          headers: {
            'Content-Type': 'application/json'
          }
        }

        let body = {
          serial_number: this.serialNumber,
          remote_id: this.remoteID,
          machine_id: this.machineID
        }

        axios.post(`${ENV.API_URL}/activate_registers`, body, options)
          .then(
            response => {
              let resXHR = response.data

              if (!resXHR.error) {
                localStorage.setItem('accessToken', resXHR.token)

                this.activeName = 'first'
                this.activeTab1 = true
                this.activeTab2 = true

                localStorage.setItem('serialNumber', this.serialNumber)
                localStorage.setItem('remoteID', this.remoteID)
                localStorage.setItem('machineID', this.machineID)

                this.inputCheck = true
              } else {
                alert(resXHR.messages)
              }
            }
          )
          .catch(
            error => {
              console.log(error)
            }
          )
      }
    },
    created () {
      if (localStorage.getItem('accessToken')) {
        this.activeName = 'first'
        this.activeTab1 = true
        this.activeTab2 = true
      }

      if (localStorage.getItem('dateCreated')) {
        this.dateCreated = localStorage.getItem('dateCreated')
      }

      if (localStorage.getItem('remoteRequest')) {
        this.remoteRequestCheck = true
      }

      this.$options.sockets.readRemoteRequest = (data) => {
        if (data.remoteId === localStorage.getItem('remoteID')) {
          this.remoteRequestCheck = false
          localStorage.removeItem('remoteRequest')
          localStorage.removeItem('dateCreated')
        }
      }

      this.$options.sockets.readMsg = (data) => {
        if (localStorage.getItem('accessToken') === data.token || localStorage.getItem('headerID') === data.header_id) {
          if (data.status === 'Pending') {
            this.statusMessage = true
          } else if (data.status === 'Closed') {
            this.statusMessage = false
          } else {
            this.statusMessage = false
            this.chatts.push(data)
          }
        }

        if (data.is_admin && (localStorage.getItem('accessToken') === data.token || localStorage.getItem('headerID') === data.header_id)) {
          this.$refs.audio.play()
          this.$notify.info({
            group: 'foo',
            title: 'Pesan balasan dari admin',
            message: 'Hello client! ini merupakan pesan balasan dari Administrator'
          })
        }
      }

      const machineID = machineIdSync({original: true})
      this.machineID = machineID

      const serialNumber = localStorage.getItem('serialNumber')
      const remoteID = localStorage.getItem('remoteID')
      const machineId = localStorage.getItem('machineID')

      if (serialNumber && remoteID && machineId) {
        this.inputCheck = true
        this.serialNumber = serialNumber
        this.remoteID = remoteID
        this.machineID = machineId
      }

      window.onbeforeunload = function () {
        return localStorage.removeItem('headerID')
      }
    }
  }
</script>

<style scoped>
#wrapper {
  height: 100%;
}

.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.list-chatt {
  margin-top: 10px;
  background-color: #FFFFFF;
  min-height: 250px;
  /* max-height: 600px; */
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  overflow-y: auto;
  transform-origin: 50% 50%; transform: rotate(180deg);
}

.list-chatt ul {
  padding-left: 0;
  transform: rotate(180deg);
}

.list-chatt ul li {
  list-style: none;
  padding: 15px;
  padding-bottom: 20px;
  margin-left: 10px;
  width: 97%;
  display: inline-block;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
}

.list-chatt ul li:last-child {
  margin-bottom: 0;
}

li.is-admin .list-chatt__avatar {
  float: left;
  position: relative;
}

li.is-admin .list-chatt__info-user {
  float: left;
}

li.is-client .list-chatt__avatar {
  float: right;
}

li.is-client .list-chatt__avatar .image {
  margin-left: -20px;
}

li.is-client .list-chatt__avatar .image .icon {
  position: absolute;
  top: 5px;
  right: 20px;
  background: #e4e8f1;
  border: 1px solid #d1dbe5;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 0px;
}

li.is-client .list-chatt__avatar .image .icon span {
  display: inline-block;
  margin-top: 6px;
  margin-left: 8px;
  font-size: 14px;
  color: #48576a;
}

li.is-client .list-chatt__info-user {
  float: right;
}

li.is-client .list-chatt__info-user .name {
  text-align: right;
  margin-right: 40px;
}
li.is-client .list-chatt__info-user .message {
  text-align: right;
  margin-right: 40px;
}

.list-chatt__avatar {
  width: 70px;
}

.list-chatt__avatar .image {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.list-chatt__avatar .image img {
  width: 100%;
  height: auto;
  display: block;
}

.list-chatt__info-user {
  width: 80%;
}

.list-chatt__info-user .name {
  font-size: 16px;
  color: #006dfc;
  font-weight: bold;
  margin-bottom: 5px;
}

.list-chatt__info-user .message {
  font-size: 12px;
  color: #555555;
}

.pending {
  display: inline-block;
  width: 100%;
}

.pending__bullet {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: rgb(255, 145, 0);
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

.pending__title {
  display: block;
  font-size: 14px;
  color: #333333;
}

.blink {
  -webkit-animation: 0.90s linear infinite condemned_blink_effect;
  animation: 0.90s linear infinite condemned_blink_effect;
}

@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
</style>
