<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style>
  html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }

  #app {
    height: 100%;
  }
</style>
